// ##########################
// IMPORTS
// ##########################

// my partials
@import "variables";
@import "mixins";

// bootstrap stylesheets
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";



// ##########################
// BASE STYLES
// ##########################
body {
  font-family: $font-stack;
}

// ##########################
// PAGE WRAPPER STYLES
// ##########################

// page container & overlay
.wrapper {
  padding-bottom: 100px;
  position: relative;
  background: {
    image: url('../images/bg-min.jpg');
    color: rgba(0,0,0, 0.8);
    repeat: no-repeat;
    size: cover;
    position: top center;
  }
  &:before {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(0,0,0, 0.6);
  }
}

// ##########################
// HEADER & NAV STYLES
// ##########################

header {
  margin-top: 10px;
}

.social-links {
  float: right;
  display: inline-block;
  h5 {
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
  }
  span {
    font: {
      size: 36px;
    }
    margin-left: 10px;
    float: left;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
    @include white-shadow;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  .fa-facebook {
    background: $facebook;
  }
  .fa-rss {
    background: $rss;
  }
  .fa-twitter {
    background: $twitter;
  }
  .fa-youtube {
    background: $youtube;
  }
}

nav{
  margin-top: 20px;
  color: #ffffff;
  a {
    display: block;
    font-size: 16px;
    background-color: $powell-red;
    text-align: center;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    @include white-shadow;
    &:before,
    &:after {
      content: "\2212";
      margin: 0 10px;
    }
    &:hover {
      background-color: lighten($powell-red, 10%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

// ##########################
// IMAGE SLIDER SECTION
// ##########################

#slider {
  margin-top: 20px;
  .slider-container {
    background-color: transparentize(#fff, 0.1);
    padding: 10px;
    @include white-shadow;
  }
  .slider-img{
    position: relative;
    height: 337px;
    background: {
      image: url('../images/top-image.png');
      size: 135%;
      position: 30% 26%;
      repeat: no-repeat;
    }
    &:after {
      content: "";
      @include position(absolute, 0, 0, 0, 0);
      background-image: url('../images/grid.png');
      opacity: 0.5;
    }
    img{
      position: absolute;
      top: 50px;
      left: 20px;
      z-index: 10;
    }
  }
}

// ##########################
// SKATE ARTICLES
// ##########################

#skate-news {
  margin: {
    top: 24px
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin: 0;
  }
  h2 {
    font-size: 26px;
    margin: 0;
  }
  .post {
    background: transparentize(#fff, .1);
    padding: 28px;
    @include white-shadow;
  }
  a {
    color : $powell-red;
    display: block;
    font-weight: bold;
    text-align: center;
    &:before {
      content: "[";
      margin-right: 5px;
    }
    &:after {
      content: "]";
      margin-left: 5px;

    }
  }
}

// ##########################
// SKATER LINKS COLLAGE
// ##########################

#skateboarders {
  margin-top: 14px;
  .skater-box {
    margin-top: 10px;
    background: transparentize(#fff, .1);
    padding: 5px;
    @include white-shadow();
  }
  .skater-img {
    height: 222px; // 464px for taller
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .skater-img-tall {
    @extend .skater-img;
    height: 464px;
  }
  h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font: {
      weight: 800;
      size: 50px;
    }
    line-height: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #lance {
    background-image: url('../images/sk8er-4.png');
  }
  #rodney{
    background-image: url('../images/sk8er-3.png');
  }
  #steve{
    background-image: url('../images/sk8er-1.png');
  }
  #tommy{
    background-image: url('../images/sk8er-2.png');

  }
}

// set up some math for board layout, maybe use, maybe not
$boards: 10;
$board-width: 260px;
$board-margin: ($board-width / $boards);

#products {
  margin-top: 14px;
  .decks {
    padding: 8px 30px 20px;
    background-color: #fff;
    @include white-shadow;
  }
  img {
    margin-right: 4.3125%;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 602px) {
      margin-right: 0;
      transform: rotate(0.25turn);
    }
  }
}

#contact {
  margin-top: 14px;
  .contact-wrapper {
    background-color: #ffffff;
    position: relative;
  }
  h3 {
    margin-top: 0;
  }
  p {
    margin-top: 20px;
  }
  .contact-card{
    padding: 38px;
  }
  form {
    input,
    textarea {
      display: block;
      width: 100%;
      box-shadow: inset 3px 3px 0 #B2B2B2;
      text-transform: uppercase;
      font-size: 14px;
      padding: 10px;
      border-color: #949494;
      margin-bottom: 17px;
    }
    input[type="submit"] {
      background-color: $powell-red;
      color: #fff;
      width: 60%;
      float: right;
      box-shadow: none;
      border: none;
    }
  }
  .social-links{
    margin-top: 30px;
    display: block;
    float: none;
    span {
      margin-left: 0;
      margin-right: 5px;
      font-size: 15px;
      line-height: 30px;
      width: 30px;
      height: 30px;
      box-shadow: none;
    }
    .fa-facebook {
      background-color: desaturate(darken($facebook, 15%), 40%);
    }
    .fa-rss {
      background-color: desaturate(darken($rss, 15%), 40%);
    }
    .fa-twitter {
      background-color: desaturate(darken($twitter, 15%), 40%);
    }
    .fa-youtube {
      background-color: desaturate(darken($youtube, 15%), 40%);
    }
  }
}
