// ##########################
// IMPORTS
// ##########################

// my partials
@import "variables";
@import "mixins";

// bootstrap stylesheets
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";



// ##########################
// BASE STYLES
// ##########################
body {
  font-family: $font-stack;
}

// ##########################
// PAGE WRAPPER STYLES
// ##########################

// page container & overlay
.wrapper {
  padding-bottom: 100px;
  position: relative;
  background: {
    image: url('../images/bg-min.jpg');
    color: rgba(0,0,0, 0.8);
    repeat: no-repeat;
    size: cover;
    position: top center;
  }
  &:before {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(0,0,0, 0.6);
  }
}

// ##########################
// HEADER & NAV STYLES
// ##########################

header {
  margin-top: 10px;
  .mobile-nav{
    font-size: 36px;
    line-height: 60px;
    color: #fff;
    margin-left: 20px;
    @media (max-width: 768px){
      line-height: 60px;
    }
  }
  .separator-dots {
    display: inline-block;
    margin-top: 5px;
    float: left;
    i {
      color: #fff;
      display: block;
      margin: 2px 0;
      font-size: 7px;
    }
  }
}

.social-links {
  float: right;
  display: inline-block;
  @media (max-width: 768px){
    margin-top: 10px;
  }
  h5 {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    @media (max-width: 768px){
      margin-top: 8px;
    }
  }
  span {
    font: {
      size: 36px;
    }
    margin-left: 10px;
    float: left;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
    @include white-shadow;
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
    @media (max-width: 768px) {
      font-size: 15px;
      line-height: 30px;
      width: 30px;
      height: 30px;
    }
  }
  .fa-facebook {
    background: $facebook;
  }
  .fa-rss {
    background: $rss;
  }
  .fa-twitter {
    background: $twitter;
  }
  .fa-youtube {
    background: $youtube;
  }
}

nav{
  margin-top: 20px;
  color: #ffffff;
  a {
    display: block;
    font-size: 16px;
    background-color: $powell-red;
    text-align: center;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    @include white-shadow;
    &:before,
    &:after {
      content: "\2212";
      margin: 0 10px;
    }
    &:hover {
      background-color: lighten($powell-red, 10%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

// ##########################
// IMAGE SLIDER SECTION
// ##########################

#slider {
  margin-top: 20px;
  @media (max-width: 768px) {
    margin-top: 0;
  }
  .slider-container {
    background-color: transparentize(#fff, 0.1);
    padding: 10px;
    @include white-shadow;
  }
  .slider-img{
    position: relative;
    height: 337px;
    background: {
      image: url('../images/top-image.png');
      size: 135%;
      position: 30% 26%;
      repeat: no-repeat;
    }
    @media (max-width: 768px) {
      height: 50vw;
    }
    &:after {
      content: "";
      @include position(absolute, 0, 0, 0, 0);
      background-image: url('../images/grid.png');
      opacity: 0.5;
    }
    img{
      position: absolute;
      top: 50px;
      left: 20px;
      z-index: 10;
      @media (max-width: 764px) {
        width: 40%;
      }
    }
  }
}

.slider-controls {
  margin-top: 20px;
  margin-left: 0;
  padding: 0;
  text-align: center;
  .slider-indicator {
    margin-right: 10px;
    display: inline-block;
    background-color: $powell-red;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    @include white-shadow;
  }
}


// ##########################
// SKATE ARTICLES
// ##########################

#skate-news {
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin: 0;
  }
  h2 {
    font-size: 26px;
    margin: 0;
  }
  .post {
    background: transparentize(#fff, .1);
    padding: 28px;
    @include white-shadow;
    @media (max-width: 922px){
      margin-top: 14px;
    }
    transition: all 200ms ease-in-out;
    &:hover{
      background: #fff;
      a {
        transform: scale(1.2);
      }
    }
  }
  a {
    color : $powell-red;
    display: block;
    font-weight: bold;
    text-align: center;
    transition: all 200ms ease-in-out;
    &:before {
      content: "[";
      margin-right: 5px;
    }
    &:after {
      content: "]";
      margin-left: 5px;

    }
  }
}

// ##########################
// SKATER LINKS COLLAGE
// ##########################

@mixin skater-zoom($size){
  $hover-zoom: 1.2;
  background-size: $size;
  transition: background-size 200ms ease-in-out;
  &:hover {
    background-size: $size * $hover-zoom;
  }
}

#skateboarders {
  margin-top: 14px;
  position: relative;
  .skater-box {
    margin-top: 10px;
    background: transparentize(#fff, .1);
    padding: 5px;
    @include white-shadow();
  }
  .pointer {
    position: absolute;
    top: 30px;
    left: -200px;
    background-color: $powell-red;
    color: #fff;
    padding: 30px 10px;
    text-transform: uppercase;
    font-size: 16px;
    &:after {
      content: "";
      border: 41px solid transparent;
      border-left-color: $powell-red;
      position: absolute;
      right: -82px;
      top: 0;
    }
    @media (max-width: 1300px){
      display: none;
    }
  }
  .skater-img {
    height: 222px; // 464px for taller
    background : {
      repeat: no-repeat;
      position: center center;
    }
    position: relative;
    @media (max-width: 450px){
      background-size: cover !important;
    }
    &:hover h2 {
      font-size: 55px;
      @media (max-width: 1200px) {
        font-size: 40px;
      }
    }
  }
  .skater-img-tall {
    @extend .skater-img;
    height: 464px;
    @media (max-width: 992px) {
      height: 222px;
    }
  }
  h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font: {
      weight: 800;
      size: 50px;
    }
    line-height: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 200ms ease-in-out 100ms;
    @media (max-width: 1200px){
      font-size: 35px;
    }
  }
  #lance {
    background-image: url('../images/sk8er-4.png');
    @include skater-zoom(120%);
    @media (min-width: 992px) and (max-width: 1200px) {
      @include skater-zoom(135%);
    }
  }
  #rodney{
    background-image: url('../images/sk8er-3.png');
    @include skater-zoom(120%);
    @media (min-width: 992px) and (max-width: 1200px) {
      @include skater-zoom(135%);
    }
  }
  #steve{
    background-image: url('../images/sk8er-1.png');
    @include skater-zoom(120%);
    @media (min-width: 992px) and (max-width: 1200px) {
      @include skater-zoom(135%);
    }
  }
  #tommy{
    background-image: url('../images/sk8er-2.png');
    @include skater-zoom(250%);
    @media (min-width: 992px) and (max-width: 1200px) {
      @include skater-zoom(280%);
    }
    background-position: 70% center;
  }
}

// ##########################
// PRODUCTS/BOARDS
// ##########################

// set up some math for board layout, maybe use, maybe not
$boards: 10;
$board-width: 260px;
$board-margin: ($board-width / $boards);

#products {
  margin-top: 14px;
  .decks {
    padding: 8px 30px 20px;
    background-color: #fff;
    @include white-shadow;
  }
  img {
    display: inline-block;
    margin-right: 4.3125%;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 600px) {
      &:not(:first-child){
        display: none;
      }
      transform: rotate(90deg) translateY(-50%);
      width: 20%;
    }
  }
}

// ##########################
// CONTACT AREA
// ##########################

#contact {
  margin-top: 14px;
  .contact-wrapper {
    background-color: transparentize(#fff, 0.02);
    position: relative;
    @include white-shadow;
  }
  h3 {
    margin-top: 0;
  }
  p {
    margin-top: 20px;
  }
  .contact-card{
    padding: 38px;
  }
  form {
    input,
    textarea {
      display: block;
      width: 100%;
      box-shadow: inset 3px 3px 0 #B2B2B2;
      text-transform: uppercase;
      font-size: 14px;
      padding: 10px;
      border: 1px solid #949494;
      margin-bottom: 17px;
    }
    input[type="submit"] {
      background-color: $powell-red;
      color: #fff;
      width: 60%;
      float: right;
      box-shadow: none;
      border: none;
      &:hover {
        background-color: lighten($powell-red, 10%);
      }
      @media (max-width: 992px){
        width: 100%;
      }
    }
  }
  .social-links{
    margin-top: 30px;
    display: block;
    float: none;
    span {
      margin-left: 0;
      margin-right: 5px;
      font-size: 15px;
      line-height: 30px;
      width: 30px;
      height: 30px;
      box-shadow: none;
    }
    .fa-facebook {
      background-color: desaturate(darken($facebook, 15%), 40%);
    }
    .fa-rss {
      background-color: desaturate(darken($rss, 15%), 40%);
    }
    .fa-twitter {
      background-color: desaturate(darken($twitter, 15%), 40%);
    }
    .fa-youtube {
      background-color: desaturate(darken($youtube, 15%), 40%);
    }
  }
}
